*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: sans-serif;
}

.input{
    width: 500px;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 30px;
    transition: 0.2s;
}

.input:hover{
    border-bottom: 5px solid rgba(238,174,202,1);    
}

.input:focus{
    border-bottom: 5px solid rgba(238,174,202,1);
    background: transparent;
    outline: none;
}

.location, .temperature{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.litenTxt{
    text-decoration: wavy;
    font-size: small;
}

.temperature{
    flex-direction: column;
}

.temperature-degree{
    text-align: center;
}

.degree-section{
    display: flex;
    align-items: center;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}